@model Item
<div class="row">
		<div class="col col-6">
			<label class="label">Item Name<sup>*</sup></label>
			<label class="input">
				<input asp-for="Name" placeholder="Item Name" />
			</label>
			<span asp-validation-for="Name"></span>
		</div>
		<div class="col col-6">
			<label class="label">Category</label>
			<label class="input">
				<input asp-for="Category" placeholder="Description" />
			</label>
			<span asp-validation-for="Category"></span>
		</div>
</div>
