@model Item
<div class="row">
    <div class="col col-4">
        <label class="label">Item Name<sup>*</sup></label>
        <label class="input">
            <input asp-for="Name" placeholder="Item Name" />
        </label>
        <span asp-validation-for="Name"></span>
    </div>
    <div class="col col-4">
        <label class="label">Unit</label>
        <label class="input">
            <input asp-for="Unit" placeholder="Unit" />
        </label>
        <span asp-validation-for="Unit"></span>
    </div>
    <div class="col col-4">
        <label class="label">Category</label>
        <label class="input">
            <input asp-for="Category" placeholder="Category" />
        </label>
        <span asp-validation-for="Category"></span>
    </div>
</div>
