@model Meal
@inject ISelectListHelper SelectListHelper
<div class="row">
	<div class="col col-6">
		<label class="label">Meal Name<sup>*</sup></label>
		<label class="input">
			<input asp-for="Name" placeholder="Name" />
		</label>
		<span asp-validation-for="Name"></span>
	</div>
	<div class="col col-6">
		<label class="label">Type</label>
		<label class="input">
			<select class="form-control" asp-for="Type">
				<option value="0">Select</option>
				<option value="1">General</option>
				<option value="2">Refuel</option>
			</select>
		</label>
		<span asp-validation-for="Type"></span>
	</div>
</div>