@model Meal
@inject ISelectListHelper SelectListHelper
<div class="row">
    <div class="col col-6">
        <label class="label">Meal Name<sup>*</sup></label>
        <label class="input">
            <input asp-for="Name" placeholder="Name" />
        </label>
        <span asp-validation-for="Name"></span>
    </div>
    <div class="col col-6">
        <label class="label">Who<sup>*</sup></label>
        <label class="input">
            <select class="form-control" asp-for="Who" asp-items="Html.GetEnumSelectList<Who>()">
            </select>
        </label>
        <span asp-validation-for="Who"></span>
    </div>
</div>
<div class="row">
    <div class="col col-6">
        <label class="label">Type</label>
        <label class="input">
            <select class="form-control" asp-for="MealType" asp-items="Html.GetEnumSelectList<MealType>()">
            </select>
        </label>
        <span asp-validation-for="MealType"></span>
    </div>
    <div class="col col-6">
        <label class="label">Enabled</label>
        <label class="input">
            <input class="form-control" asp-for="IsEnabled" type="checkbox" />
        </label>
        <span asp-validation-for="IsEnabled"></span>
    </div>
</div>