@model Ingredient
@inject ISelectListHelper SelectListHelper
<div class="row">
    <div class="col col-6">
        <label class="label">Item Name<sup>*</sup></label>
        <label class="input">
            <select class="form-control" asp-for="ItemId" asp-items="SelectListHelper.ListItems()">
                <option value="0">Select</option>
            </select>
        </label>
        <span asp-validation-for="ItemId"></span>
    </div>
    @*<div class="col col-6">
        <label class="label">Unit</label>
        <label class="input">
            <input asp-for="Unit" placeholder="Unit" />
        </label>
        <span asp-validation-for="Unit"></span>
    </div>*@
    <div class="col col-6">
        <label class="label">Measure</label>
        <label class="input">
            <input asp-for="Measure" placeholder="Measure" />
        </label>
        <span asp-validation-for="Measure"></span>
    </div>
</div>